.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(198, 191, 233, 0.692);
  min-height: 100vh;
}
.title {
  background-color:rgba(198, 191, 233, 0.692);
  color: azure;
  width: fit-content;
  align-self: center;
  padding: 10px;
}
.todo {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  background-color: aliceblue;
  padding: 50px;
  border-radius: 30px;
}
.todo-list {
  text-align: left;
}
.todo-form form {
  display: flex;
  justify-content: space-between;
}
.todo-form form > *:first-child {
  width: 70%;
  background-color: rgba(198, 191, 233, 0.692);
}
